*{
  padding: 0%;
  margin: 0%;
}
:root{
  --cinza : #e8e6e6 ;
  --preto : #000 ;
  --branco : #fff ;
}
a{
  text-decoration: none;
  color: var(--preto);
}
body{
  background-color: var(--cinza);
}
p,h2{
  margin-left: 20px;
}
header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
main{
  width: 100%;
}
#banner{
  width: 100%;
  display: flex;
}
#banner1{
  width: 30%;
}
#banner2{
  width: 70%;
}
#mensagem{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
#topicos{
  width: 100%;
  display: flex;
}
#servicos, #agenda{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#servicos{
  width: 70%;
}
#agenda{
  width: 30%;
}
.conteudo{
  width: 100%;
  background-color: var(--preto);
  color: var(--branco);
  padding: 10px 0px;
}
#mapa{
  width: 80%;
  background-color: var(--branco);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer{
  padding: 20px 0px;
  width: 100%;
  background-color: var(--preto);
  color: var(--branco);
}